
 body{
  margin: 0;
  height: 100vh;
  display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(244, 246, 247, 0.651);
   font-family:  Arial, sans-serif;
 }
   form{
    background-color: rgb(11, 216, 243);
    align-items: center;
    width: 300px;
    height: 300px;
    padding:  20px 30px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-image: url("img.jpg");
    transition:  all 2s;
   }
   h1{
   text-align: center;
   color: aliceblue;
   font-family: Arial, Helvetica, sans-serif;
   font-size:25px;
   margin-right: 18px;
   }
   input{
   border-radius: 5px;
   margin-left: 40px;
   }
   button{
    background-color: rgb(236, 11, 11);
    color: white;
    border:none;
    height: 30px;
    width: 70px;
    border-radius: 3px;
    cursor: pointer;
   }
   button:hover{
    background-color:orange;
   }