body{
    margin: O;
    height: 100PX;
    justify-items: center;
    align-items: center;
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
}
form{
    background-color: rgba(6, 245, 225, 0.945);
    align-items: center;
    width: 350px;
    height: 640px;
    border-radius: 30px;
    padding:30px;
    transition: 1s ease;
}
h1{
    text-align: center;
    color:rgb(196, 12, 150);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
button{
background-color: rgb(241, 112, 7);
color: white;
border: none;
border-radius: 10px;
width: 67px;
height: 35px;
margin-top:30px;
cursor: pointer;
}
button:hover{
    background-color: green;
    background-position: right,center;
}
input{
width: 100%;
padding: 5px;
margin-top: 5px;
border-radius: 5px;
border:1px solid #ccc;
}
lable{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}